@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

section {
  margin: 60px 0 60px 0;
}

/* hero */
.button-arrow-hero {
  position: absolute;
  margin-top: -60px;
}
.dar {
  position: relative;
}
.text-cus {
  background: #92201c;
  position: absolute;
  bottom: 0;
  border-radius: 30px 30px 0 0;
}

/* //kategori */
.ha {
  position: relative;
}

.img-cus {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 30px 30px 0 0;
  bottom: -100px;
}

.cihuy{
  margin-top: 140px;
}


@media (min-width: 320px) and (max-width: 767px){
    .hero{
      margin-bottom: 20px;
    }
}
